# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environnements virtuels
.venv/
venv/
ENV/
env/

# Secrets
.env

# Docker
.docker_data/
postgres_data/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Frontend React
node_modules/
build/

# Windows
Thumbs.db
desktop.ini